<div class="flex-shrink-0 p-3">
    <div
        class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom">
        <span class="fs-5 fw-semibold text-white pe-none">
            <i class="bi bi-list"></i>
            فهرست
        </span>
    </div>

    <ul class="list-unstyled pe-0">
        <li class="mb-1">
            <a href="{% url 'main:dashboard' %}"
                class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed text-white"
                aria-expanded="false">
                <i class="bi bi-house ms-1"></i>داشبورد
            </a>
        </li>

        {% if user.access_level <= 0 %}
        <li class="mb-1">
            <button
                class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed text-white"
                data-bs-toggle="collapse"
                data-bs-target="#users-collapse"
                aria-expanded="false">
                <i class="bi bi-person ms-1"></i> کاربران

            </button>

            <div class="collapse" id="users-collapse">
                <ul
                    class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="{% url "main:users" %}"
                            class="link-body-emphasis d-inline-flex text-decoration-none rounded text-white my-2"><i
                                class="bi bi-chevron-left"></i>همه</a>
                    </li>

                    <li><a href="{% url 'main:add_user' %}"
                            class="link-body-emphasis d-inline-flex text-decoration-none rounded text-white my-2"><i
                                class="bi bi-chevron-left"></i>ایجاد</a>
                    </li>
                </ul>
            </div>
        </li>
        {% endif %}

        {% if user.access_level <= 0 %}
        <li class="mb-1">
            <button
                class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed text-white"
                data-bs-toggle="collapse"
                data-bs-target="#collage-collapse"
                aria-expanded="false">
                <i class="bi bi-option ms-1"></i>
                دانشکده
            </button>
            <div class="collapse" id="collage-collapse">
                <ul
                    class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="{% url 'main:colleges' %}"
                            class="link-body-emphasis d-inline-flex text-decoration-none rounded text-white my-2"><i
                                class="bi bi-chevron-left"></i>همه</a>
                    </li>
                    <li><a href="{% url 'main:add_college' %}"
                            class="link-body-emphasis d-inline-flex text-decoration-none rounded text-white my-2"><i
                                class="bi bi-chevron-left"></i>ایجاد</a>
                    </li>
                </ul>
            </div>
        </li>
        {% endif %}

        <li class="mb-1">
            <button
                class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed text-white"
                data-bs-toggle="collapse"
                data-bs-target="#terms-collapse"
                aria-expanded="false">
                <i class="bi bi-calendar ms-1"></i>
                ترم ها
            </button>
            <div class="collapse" id="terms-collapse">
                <ul
                    class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="{% url 'main:terms' %}"
                            class="link-body-emphasis d-inline-flex text-decoration-none rounded text-white my-2"><i
                                class="bi bi-chevron-left"></i>همه</a>
                    </li>
                    <li><a href="{% url 'main:add_term' %}"
                            class="link-body-emphasis d-inline-flex text-decoration-none rounded text-white my-2"><i
                                class="bi bi-chevron-left"></i>ایجاد</a>
                    </li>
                </ul>
            </div>
        </li>

        {% comment %} <li class="mb-1">
            <button
                class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed text-white"
                data-bs-toggle="collapse"
                data-bs-target="#lessons-collapse"
                aria-expanded="false">
                <i class="bi bi-book ms-1"></i>
                دروس
            </button>
            <div class="collapse" id="lessons-collapse">
                <ul
                    class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="./lessons/index.html"
                            class="link-body-emphasis d-inline-flex text-decoration-none rounded text-white my-2"><i
                                class="bi bi-chevron-left"></i>همه</a>
                    </li>
                    <li><a href="./lessons/create.html"
                            class="link-body-emphasis d-inline-flex text-decoration-none rounded text-white my-2"><i
                                class="bi bi-chevron-left"></i>ایجاد</a>
                    </li>
                </ul>
            </div>
        </li> {% endcomment %}

        {% comment %} <li class="mb-1">
            <button
                class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed text-white"
                data-bs-toggle="collapse"
                data-bs-target="#professors-collapse"
                aria-expanded="false">
                <i class="bi bi-people ms-1"></i>
                اساتید
            </button>
            <div class="collapse" id="professors-collapse">
                <ul
                    class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="./professors/index.html"
                            class="link-body-emphasis d-inline-flex text-decoration-none rounded text-white my-2"><i
                                class="bi bi-chevron-left"></i>همه</a>
                    </li>
                    <li><a href="./professors/create.html"
                            class="link-body-emphasis d-inline-flex text-decoration-none rounded text-white my-2"><i
                                class="bi bi-chevron-left"></i>افزودن</a>
                    </li>
                </ul>
            </div>
        </li> {% endcomment %}

        {% comment %} <li class="mb-1">
            <button
                class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed text-white"
                data-bs-toggle="collapse"
                data-bs-target="#time-periods-collapse"
                aria-expanded="false">
                <i class="bi bi-clock ms-1"></i>
                زمان بندی
            </button>
            <div class="collapse" id="time-periods-collapse">
                <ul
                    class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="./time-periods/index.html"
                            class="link-body-emphasis d-inline-flex text-decoration-none rounded text-white my-2"><i
                                class="bi bi-chevron-left"></i>همه</a>
                    </li>
                    <li><a href="./time-periods/create.html"
                            class="link-body-emphasis d-inline-flex text-decoration-none rounded text-white my-2"><i
                                class="bi bi-chevron-left"></i>ایجاد</a>
                    </li>
                </ul>
            </div>
        </li> {% endcomment %}

        <li class="mb-1">
            <button
                class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed text-white"
                data-bs-toggle="collapse"
                data-bs-target="#eg-collapse"
                aria-expanded="false">
                <i class="bi bi-mortarboard ms-1"></i>
                گروه های آموزشی
            </button>
            <div class="collapse" id="eg-collapse">
                <ul
                    class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="{% url 'main:groups' %}"
                            class="link-body-emphasis d-inline-flex text-decoration-none rounded text-white my-2"><i
                                class="bi bi-chevron-left"></i>همه</a>
                    </li>
                    <li><a href="{% url 'main:add_group' %}"
                            class="link-body-emphasis d-inline-flex text-decoration-none rounded text-white my-2"><i
                                class="bi bi-chevron-left"></i>ایجاد</a>
                    </li>
                </ul>
            </div>
        </li>

        {% comment %} <li class="mb-1">
            <button
                class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed text-white"
                data-bs-toggle="collapse"
                data-bs-target="#entries-collapse"
                aria-expanded="false">
                <i class="bi bi-calendar-date ms-1"></i>
                ورودی ها
            </button>
            <div class="collapse" id="entries-collapse">
                <ul
                    class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="./entries/index.html"
                            class="link-body-emphasis d-inline-flex text-decoration-none rounded text-white my-2"><i
                                class="bi bi-chevron-left"></i>همه</a>
                    </li>
                    <li><a href="./entries/create.html"
                            class="link-body-emphasis d-inline-flex text-decoration-none rounded text-white my-2"><i
                                class="bi bi-chevron-left"></i>ایجاد</a>
                    </li>
                </ul>
            </div>
        </li> {% endcomment %}

        {% comment %} <li class="mb-1">
            <button
                class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed text-white"
                data-bs-toggle="collapse"
                data-bs-target="#class-collapse"
                aria-expanded="false">
                <i class="bi bi-easel ms-1"></i>
                کلاس ها
            </button>
            <div class="collapse" id="class-collapse">
                <ul
                    class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="./classrooms/index.html"
                            class="link-body-emphasis d-inline-flex text-decoration-none rounded text-white my-2"><i
                                class="bi bi-chevron-left"></i>جدول
                            کلاس ها</a></li>
                    <li><a href="./classrooms/create.html"
                            class="link-body-emphasis d-inline-flex text-decoration-none rounded text-white my-2"><i
                                class="bi bi-chevron-left"></i>تعریف
                            کلاس</a></li>
                </ul>
            </div>
        </li> {% endcomment %}

        {% comment %} <li class="mb-1">
            <button
                class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed text-white"
                data-bs-toggle="collapse"
                data-bs-target="#location-collapse"
                aria-expanded="false">
                <i class="bi bi-pin-map ms-1"></i>
                مکان کلاس ها
            </button>
            <div class="collapse" id="location-collapse">
                <ul
                    class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="./locations/index.html"
                            class="link-body-emphasis d-inline-flex text-decoration-none rounded text-white my-2"><i
                                class="bi bi-chevron-left"></i>همه</a>
                    </li>
                    <li><a href="./locations/create.html"
                            class="link-body-emphasis d-inline-flex text-decoration-none rounded text-white my-2"><i
                                class="bi bi-chevron-left"></i>ایجاد</a>
                    </li>
                    <li><a href="./locations/determine.html"
                            class="link-body-emphasis d-inline-flex text-decoration-none rounded text-white text-nowrap my-2"><i
                                class="bi bi-chevron-left"></i>تعیین
                            مکان کلاس ها</a></li>
                </ul>
            </div>
        </li> {% endcomment %}

        {% comment %} <li class="mb-1">
            <a href="./schedule/index.html"
                class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed text-white"
                aria-expanded="false">
                <i class="bi bi-filetype-pdf ms-1"></i>
                گزارش گیری
            </a>
        </li> {% endcomment %}

        {% comment %} <li class="mb-1">
            <button
                class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed text-white"
                data-bs-toggle="collapse"
                data-bs-target="#presenceAndAbsence-collapse"
                aria-expanded="false">
                <i class="bi bi-card-checklist ms-1"></i>
                حضور غیاب
            </button>
            <div class="collapse"
                id="presenceAndAbsence-collapse">
                <ul
                    class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="./presence-and-absence/index.html"
                            class="link-body-emphasis d-inline-flex text-decoration-none rounded text-white my-2"><i
                                class="bi bi-chevron-left"></i>جدول
                            هفتگی</a></li>
                    <li><a href="./presence-and-absence/history.html"
                            class="link-body-emphasis d-inline-flex text-decoration-none rounded text-white my-2"><i
                                class="bi bi-chevron-left"></i>گزارش
                            گیری تاریخچه</a></li>
                </ul>
            </div>
        </li> {% endcomment %}

        <li class="border-top my-3"></li>

        <li class="mb-1">
            <button
                class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed text-white"
                data-bs-toggle="collapse"
                data-bs-target="#account-collapse"
                aria-expanded="false">
                <i class="bi bi-person"></i>حساب
            </button>
            <div class="collapse" id="account-collapse">
                <ul
                    class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="{% url 'main:changepassword' %}"
                            class="link-body-emphasis d-inline-flex text-decoration-none rounded text-white my-2"><i
                                class="bi bi-lock"></i>تغییر رمز
                            عبور</a></li>
                    <li><a href="{% url "main:logout" %}"
                            class="link-body-emphasis d-inline-flex text-decoration-none rounded text-white my-2"><i
                                class="bi bi-door-open"></i>خروج</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>