{% load static %}

<html lang="fa" class="min-vh-100" dir="rtl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>جدول کلاس ها | برنامه آموزشی دانشگاه</title>

    <link rel="stylesheet" href="{% get_static_prefix %}css/style.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link
        href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
        rel="stylesheet" />
    <script
        src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <style>
        body {
            font-family: 'Shabnam' !important;
        }

        .selection {
            border-width: 0 !important;
        }

        .select2-selection {
            border: 0 !important;
        }
        
        hr:last-child {
            display: none;
        }
    </style>
</head>

<body class="bg-light">
    <div id="app">
        {% include "inc/nav.html" %}

        <main class="py-4 min-vh-100 row row-cols-2 m-0"
            style="padding-top: 4.5rem !important">

            <div class="col-2 bg-primary shadow d-none d-md-block"
                style="border-radius: 50px 0 0 50px">
                {% include "inc/menu.html" %}
            </div>
            
            <div class="card col-11 col-md-9 mx-auto shadow px-0"
                style="border-radius: 50px; overflow: hidden;height: max-content;">
                {% if classes == False %}
                <div class="alert alert-danger text-center" role="alert">
                     ابتدا موردی از اطلاعات نوار بالا را  انتخاب کنید!
                </div>
                {% else %}
                <div class="card-header px-4 text-bg-primary">
                    جدول کلاس ها
                </div>
                <div class="card-body bg-primary-subtle">
                    <div class="alert alert-warning text-center" role="alert">
                        در صورتی که قصد اعمال همه ی کلاس ها را دارید تمام لیست
                        ها را خالی بگذارید.
                        <br>
                        برای انتخاب چندتایی در هر لیست دکمه "ctrl" کیبورد را نگه
                        داشته و با موس
                        اقدام به انتخاب نمایید.
                        <br>
                        درصورت وجود نداشتن درس, استاد و ... مدنظر در لیست های
                        زیر به معنای عدم <a class="link-primary"
                            href="{% url 'main:add_class' %}"> تعریف
                            کلاس</a> برای آنهاست.
                    </div>

                    <form
                        class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mb-4"
                        action="#" method="POST" enctype="multipart/form-data" onsubmit="return false" >
                        <div class="col">
                            <label for="classes" class="form-label">همه کلاس ها
                                :</label>
                            <select name="classes[]"
                                class="js-example-basic-multiple text-center"
                                id="classes" multiple disabled>
                                <option disabled>کلاس ها را انتخاب کنید</option>
                                {% for class in classes %}
                                <option value="{{ class.id }}">
                                    {{ class.course.name }} {{ class.teacher.name }} (
                                        {% if class.day == 0 %}
                                            شنبه
                                        {% elif class.day == 1 %}
                                            یک شنبه
                                        {% elif class.day == 2 %}
                                            دو شنبه
                                        {% elif class.day == 3 %}
                                            سه شنبه
                                        {% elif class.day == 4 %}
                                            چهار شنبه
                                        {% endif %}
                                         {{ class.time.title }}
                                    )                                    
                                </option>
                                
                                {% endfor %}
                                
                            </select>
                        </div>

                        <div class="col">
                            <label for="professors" class="form-label">کلاس های
                                اساتید :</label>
                            <select name="professors[]"
                                class="js-example-basic-multiple text-center"
                                id="professors" multiple>
                                <option disabled>اساتید را انتخاب کنید</option>

                                {% for teacher in teachers %}
                                    <option value="{{ teacher.id }}">{{ teacher.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col">
                            <label for="educational_groups"
                                class="form-label">کلاس های گروه های
                                آموزشی :</label>
                            <select name="educational_groups[]"
                                class="js-example-basic-multiple text-center"
                                id="groups" multiple>
                                <option disabled>گروه ها را انتخاب کنید</option>
                                {% for group in groups %}
                                <option value="{{ group.id }}">{{ group.title }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col">
                            <label for="entries" class="form-label">کلاس های
                                ورودی ها :</label>
                            <select name="entries[]"
                                class="js-example-basic-multiple text-center"
                                id="entries" multiple>
                                <option disabled>کلاس ها را انتخاب کنید</option>

                                {% for entry in entries %}
                                <option value="{{ entry.id }}">{{ entry.title }}</option>

                                {% endfor %}
                            </select>
                        </div>

                        <div class="col">
                            <label for="status" class="form-label">وضعیت کلاس
                                ها:</label>
                            <select name="status"
                                class="form-select text-center" id="status">
                                <option value="" selected>وضعیت را انتخاب کنید
                                </option>
                                <option value="0">ثابت</option>
                                <option value="1">چرخشی</option>
                            </select>

                            <div class="form-check form-switch mt-4">
                                <input name="manually_select" value="true"
                                    class="form-check-input" type="checkbox"
                                    role="switch" id="manually-select">
                                <label class="form-check-label"
                                    style="margin-right: 40px"
                                    id="manually-select-label">انتخاب دستی کلاس
                                    ها</label>
                            </div>
                        </div>

                        <div class="col row row-cols-2 text-nowrap user-select-none mt-3"
                            style="font-size: 0.8rem !important">
                            <div class="col">
                                <div class="form-check">
                                    <input name="show_lesson_name"
                                        id="show_lesson_name"
                                        class="form-check-input" type="checkbox"
                                        value="true" checked>
                                    <label class="form-check-label"
                                        style="margin-right: 25px"
                                        for="show_lesson_name">
                                        نمایش نام درس
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input name="show_professor_name"
                                        id="show_professor_name"
                                        class="form-check-input" type="checkbox"
                                        value="true" checked>
                                    <label class="form-check-label"
                                        style="margin-right: 25px"
                                        for="show_professor_name">
                                        نمایش نام استاد
                                    </label>
                                </div>
                            </div>

                            <div class="col">
                                <div class="form-check">
                                    <input name="show_status" id="show_status"
                                        class="form-check-input" type="checkbox"
                                        value="true" checked>
                                    <label class="form-check-label"
                                        style="margin-right: 25px"
                                        for="show_status">
                                        نمایش وضعیت
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input name="show_entry_year"
                                        id="show_entry_year"
                                        class="form-check-input" type="checkbox"
                                        value="true" checked>
                                    <label class="form-check-label"
                                        style="margin-right: 25px"
                                        for="show_entry_year">
                                        نمایش ورودی
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input name="show_eg_name" id="show_eg_name"
                                        class="form-check-input" type="checkbox"
                                        value="true" checked>
                                    <label class="form-check-label"
                                        style="margin-right: 25px"
                                        for="show_eg_name">
                                        نمایش گروه آموزشی
                                    </label>
                                </div>
                            </div>
                        </div>

                        <button type="button" onclick="filter_data()"
                            class="btn btn-success mx-auto mt-4">اعمال<i
                                class="bi bi-check-lg"></i></button>
                    </form>
                    
                    <div class="table-responsive text-center">
                        <table
                            class="table table-bordered border-secondary rounded shadow-sm h-100">
                            <thead>
                                <tr>
                                    <th class="fw-normal text-center align-middle"
                                        scope="col">#
                                    </th>
                                    {% for time in times %}
                                    <th
                                        class="text-center align-middle fw-normal">
                                        {{ time.title }}
                                    </th>
                                    {% endfor %}
                                </tr>
                            </thead>

                            <tbody>

                                <form id="classes-form" action="" method="POST"
                                    enctype="multipart/form-data">
                                    {% csrf_token %} <input type="hidden"
                                        name="_method" value="put">
                                    <tr>
                                        <th class="text-center align-middle fw-normal text-nowrap"
                                            scope="row">شنبه</th>
                                        {% for time in times %}
                                        <td
                                                class="fw-normal text-center align-middle px-0">
                                                
                                        {% for class in classes %}
                                            
                                            {% if class.day == 0 and class.time == time %}
                                            
                                            <div>
<span class="class_id-{{ class.id }} teacher_id-{{ class.teacher.id }} status_id-{{ class.stat }} group_id-{{ class.group.id }} entry_id-{{ class.entry.id }} spanid"></span>
                                            <select name="course[{{class.day}}-{{class.time.id}}]"
                                                    class="form-select form-select-sm text-center fs-6 mySelect2 rounded-0 border-0 js-example-basic-single">
                                                    {% for course in courses %}
                                                    <option value="{{ course.id }}" {% if class.course == course %}selected{% endif %}>{{ course.name }}
                                                    </option>
                                                    {% endfor %}
                                                </select>

                                                <select name="teacher[{{class.day}}-{{class.time.id}}]"
                                                    class="form-select form-select-sm text-center fs-6 mySelect2 rounded-0 border-0 js-example-basic-single">
                                                    {% for teacher in teachers %}
                                                        <option value="{{ teacher.id }}" {% if class.teacher == teacher %}selected{% endif %}>{{ teacher.name }}</option>
                                                    {% endfor %}
                                                </select>

                                                <select name="stat[{{class.day}}-{{class.time.id}}]"
                                                    class="form-select form-select-sm text-center fs-6 mySelect2 rounded-0 border-0 js-example-basic-single">

                                                    <option value="0" {% if class.stat == 0 %}selected{% endif %}>
                                                        ثابت</option>
                                                    <option value="1" {% if class.stat == 1 %}selected{% endif %}>چرخشی
                                                    </option>
                                                </select>

                                                <select name="group[{{class.day}}-{{class.time.id}}]"
                                                    class="form-select form-select-sm text-center fs-6 mySelect2 rounded-0 border-0 js-example-basic-single">
                                                    {% for group in groups %}
                                                    
                                                    <option value="{{ group.id }}" {% if group == class.group %}selected{% endif %}>
                                                        {{ group.title }}
                                                    </option>
                                                    {% endfor %}
                                                </select>

                                                <select name="entry[{{class.day}}-{{class.time.id}}]"
                                                    class="form-select form-select-sm text-center fs-6 mySelect2 rounded-0 border-0 js-example-basic-single">
                                                    {% for entry in entries %}
                                                        <option value="{{ entry.id }}" {% if class.entry == entry %}selected{% endif %}>{{ entry.title }}</option>
                                                    {% endfor %}
                                                </select>

                                                <div class="btn-group mt-2"
                                                    dir="ltr">
                                                    <button type="button"
                                                        class="btn btn-sm btn-outline-danger"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#Modal"
                                                        data-bs-action="{% url 'main:delete_class' pk=class.id %}"
                                                        data-bs-name="{{ class.course.name }} {{ class.teacher.name }} ({{ class.time.title }})">
                                                        حذف
                                                    </button>
                                                </div>
                                                </div>
<hr>
                                            
                                            {% endif %}
                                        {% endfor %}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <th class="text-center align-middle fw-normal text-nowrap"
                                            scope="row">یک شنبه</th>
                                        {% for time in times %}
                                        <td
                                                class="fw-normal text-center align-middle px-0">
                                        {% for class in classes %}
                                            
                                            {% if class.day == 1 and class.time == time %}
                                            
                                                <div>
<span class="class_id-{{ class.id }} teacher_id-{{ class.teacher.id }} status_id-{{ class.stat }} group_id-{{ class.group.id }} entry_id-{{ class.entry.id }} spanid"></span>
                                            <select name="course[{{class.day}}-{{class.time.id}}]"
                                                    class="form-select form-select-sm text-center fs-6 mySelect2 rounded-0 border-0 js-example-basic-single">
                                                    {% for course in courses %}
                                                    <option value="{{ course.id }}" {% if class.course == course %}selected{% endif %}>{{ course.name }}
                                                    </option>
                                                    {% endfor %}
                                                </select>

                                                <select name="teacher[{{class.day}}-{{class.time.id}}]"
                                                    class="form-select form-select-sm text-center fs-6 mySelect2 rounded-0 border-0 js-example-basic-single">
                                                    {% for teacher in teachers %}
                                                        <option value="{{ teacher.id }}" {% if class.teacher == teacher %}selected{% endif %}>{{ teacher.name }}</option>
                                                    {% endfor %}
                                                </select>

                                                <select name="stat[{{class.day}}-{{class.time.id}}]"
                                                    class="form-select form-select-sm text-center fs-6 mySelect2 rounded-0 border-0 js-example-basic-single">

                                                    <option value="0" {% if class.stat == 0 %}selected{% endif %}>
                                                        ثابت</option>
                                                    <option value="1" {% if class.stat == 1 %}selected{% endif %}>چرخشی
                                                    </option>
                                                </select>

                                                <select name="group[{{class.day}}-{{class.time.id}}]"
                                                    class="form-select form-select-sm text-center fs-6 mySelect2 rounded-0 border-0 js-example-basic-single">
                                                    {% for group in groups %}
                                                    
                                                    <option value="{{ group.id }}" {% if group == class.group %}selected{% endif %}>
                                                        {{ group.title }}
                                                    </option>
                                                    {% endfor %}
                                                </select>

                                                <select name="entry[{{class.day}}-{{class.time.id}}]"
                                                    class="form-select form-select-sm text-center fs-6 mySelect2 rounded-0 border-0 js-example-basic-single">
                                                    {% for entry in entries %}
                                                        <option value="{{ entry.id }}" {% if class.entry == entry %}selected{% endif %}>{{ entry.title }}</option>
                                                    {% endfor %}
                                                </select>

                                                <div class="btn-group mt-2"
                                                    dir="ltr">
                                                    <button type="button"
                                                        class="btn btn-sm btn-outline-danger"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#Modal"
                                                        data-bs-action="{% url 'main:delete_class' pk=class.id %}"
                                                        data-bs-name="{{ class.course.name }} {{ class.teacher.name }} ({{ class.time.title }})">
                                                        حذف
                                                    </button>
                                                </div>

                                            </div>
<hr>
                                            
                                            {% endif %}
                                        {% endfor %}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <th class="text-center align-middle fw-normal text-nowrap"
                                            scope="row">دو شنبه</th>
                                        {% for time in times %}
                                        <td
                                                class="fw-normal text-center align-middle px-0">
                                        {% for class in classes %}
                                            
                                            {% if class.day == 2 and class.time == time %}
                                            
                                                <div>
<span class="class_id-{{ class.id }} teacher_id-{{ class.teacher.id }} status_id-{{ class.stat }} group_id-{{ class.group.id }} entry_id-{{ class.entry.id }} spanid"></span>
                                            <select name="course[{{class.day}}-{{class.time.id}}]"
                                                    class="form-select form-select-sm text-center fs-6 mySelect2 rounded-0 border-0 js-example-basic-single">
                                                    {% for course in courses %}
                                                    <option value="{{ course.id }}" {% if class.course == course %}selected{% endif %}>{{ course.name }}
                                                    </option>
                                                    {% endfor %}
                                                </select>

                                                <select name="teacher[{{class.day}}-{{class.time.id}}]"
                                                    class="form-select form-select-sm text-center fs-6 mySelect2 rounded-0 border-0 js-example-basic-single">
                                                    {% for teacher in teachers %}
                                                        <option value="{{ teacher.id }}" {% if class.teacher == teacher %}selected{% endif %}>{{ teacher.name }}</option>
                                                    {% endfor %}
                                                </select>

                                                <select name="stat[{{class.day}}-{{class.time.id}}]"
                                                    class="form-select form-select-sm text-center fs-6 mySelect2 rounded-0 border-0 js-example-basic-single">

                                                    <option value="0" {% if class.stat == 0 %}selected{% endif %}>
                                                        ثابت</option>
                                                    <option value="1" {% if class.stat == 1 %}selected{% endif %}>چرخشی
                                                    </option>
                                                </select>

                                                <select name="group[{{class.day}}-{{class.time.id}}]"
                                                    class="form-select form-select-sm text-center fs-6 mySelect2 rounded-0 border-0 js-example-basic-single">
                                                    {% for group in groups %}
                                                    
                                                    <option value="{{ group.id }}" {% if group == class.group %}selected{% endif %}>
                                                        {{ group.title }}
                                                    </option>
                                                    {% endfor %}
                                                </select>

                                                <select name="entry[{{class.day}}-{{class.time.id}}]"
                                                    class="form-select form-select-sm text-center fs-6 mySelect2 rounded-0 border-0 js-example-basic-single">
                                                    {% for entry in entries %}
                                                        <option value="{{ entry.id }}" {% if class.entry == entry %}selected{% endif %}>{{ entry.title }}</option>
                                                    {% endfor %}
                                                </select>

                                                <div class="btn-group mt-2"
                                                    dir="ltr">
                                                    <button type="button"
                                                        class="btn btn-sm btn-outline-danger"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#Modal"
                                                        data-bs-action="{% url 'main:delete_class' pk=class.id %}"
                                                        data-bs-name="{{ class.course.name }} {{ class.teacher.name }} ({{ class.time.title }})">
                                                        حذف
                                                    </button>
                                                </div>

                                            </div>
<hr>
                                            
                                            {% endif %}
                                        {% endfor %}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <th class="text-center align-middle fw-normal text-nowrap"
                                            scope="row">سه شنبه</th>
                                        {% for time in times %}
                                        <td
                                                class="fw-normal text-center align-middle px-0">
                                        {% for class in classes %}
                                            
                                            {% if class.day == 3 and class.time == time %}
                                            
                                                <div>
<span class="class_id-{{ class.id }} teacher_id-{{ class.teacher.id }} status_id-{{ class.stat }} group_id-{{ class.group.id }} entry_id-{{ class.entry.id }} spanid"></span>
                                            <select name="course[{{class.day}}-{{class.time.id}}]"
                                                    class="form-select form-select-sm text-center fs-6 mySelect2 rounded-0 border-0 js-example-basic-single">
                                                    {% for course in courses %}
                                                    <option value="{{ course.id }}" {% if class.course == course %}selected{% endif %}>{{ course.name }}
                                                    </option>
                                                    {% endfor %}
                                                </select>

                                                <select name="teacher[{{class.day}}-{{class.time.id}}]"
                                                    class="form-select form-select-sm text-center fs-6 mySelect2 rounded-0 border-0 js-example-basic-single">
                                                    {% for teacher in teachers %}
                                                        <option value="{{ teacher.id }}" {% if class.teacher == teacher %}selected{% endif %}>{{ teacher.name }}</option>
                                                    {% endfor %}
                                                </select>

                                                <select name="stat[{{class.day}}-{{class.time.id}}]"
                                                    class="form-select form-select-sm text-center fs-6 mySelect2 rounded-0 border-0 js-example-basic-single">

                                                    <option value="0" {% if class.stat == 0 %}selected{% endif %}>
                                                        ثابت</option>
                                                    <option value="1" {% if class.stat == 1 %}selected{% endif %}>چرخشی
                                                    </option>
                                                </select>

                                                <select name="group[{{class.day}}-{{class.time.id}}]"
                                                    class="form-select form-select-sm text-center fs-6 mySelect2 rounded-0 border-0 js-example-basic-single">
                                                    {% for group in groups %}
                                                    
                                                    <option value="{{ group.id }}" {% if group == class.group %}selected{% endif %}>
                                                        {{ group.title }}
                                                    </option>
                                                    {% endfor %}
                                                </select>

                                                <select name="entry[{{class.day}}-{{class.time.id}}]"
                                                    class="form-select form-select-sm text-center fs-6 mySelect2 rounded-0 border-0 js-example-basic-single">
                                                    {% for entry in entries %}
                                                        <option value="{{ entry.id }}" {% if class.entry == entry %}selected{% endif %}>{{ entry.title }}</option>
                                                    {% endfor %}
                                                </select>

                                                <div class="btn-group mt-2"
                                                    dir="ltr">
                                                    <button type="button"
                                                        class="btn btn-sm btn-outline-danger"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#Modal"
                                                        data-bs-action="{% url 'main:delete_class' pk=class.id %}"
                                                        data-bs-name="{{ class.course.name }} {{ class.teacher.name }} ({{ class.time.title }})">
                                                        حذف
                                                    </button>
                                                </div>

                                            </div>
<hr>
                                            {% endif %}
                                        {% endfor %}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <th class="text-center align-middle fw-normal text-nowrap"
                                            scope="row"> چهار شنبه</th>
                                        {% for time in times %}
                                        <td
                                                class="fw-normal text-center align-middle px-0">
                                        {% for class in classes %}
                                            {% if class.day == 4 and class.time == time %}
                                            
                                                <div>
<span class="class_id-{{ class.id }} teacher_id-{{ class.teacher.id }} status_id-{{ class.stat }} group_id-{{ class.group.id }} entry_id-{{ class.entry.id }} spanid"></span>
                                            <select name="course[{{class.day}}-{{class.time.id}}]"
                                                    class="form-select form-select-sm text-center fs-6 mySelect2 rounded-0 border-0 js-example-basic-single">
                                                    {% for course in courses %}
                                                    <option value="{{ course.id }}" {% if class.course == course %}selected{% endif %}>{{ course.name }}
                                                    </option>
                                                    {% endfor %}
                                                </select>

                                                <select name="teacher[{{class.day}}-{{class.time.id}}]"
                                                    class="form-select form-select-sm text-center fs-6 mySelect2 rounded-0 border-0 js-example-basic-single">
                                                    {% for teacher in teachers %}
                                                        <option value="{{ teacher.id }}" {% if class.teacher == teacher %}selected{% endif %}>{{ teacher.name }}</option>
                                                    {% endfor %}
                                                </select>

                                                <select name="stat[{{class.day}}-{{class.time.id}}]"
                                                    class="form-select form-select-sm text-center fs-6 mySelect2 rounded-0 border-0 js-example-basic-single">

                                                    <option value="0" {% if class.stat == 0 %}selected{% endif %}>
                                                        ثابت</option>
                                                    <option value="1" {% if class.stat == 1 %}selected{% endif %}>چرخشی
                                                    </option>
                                                </select>

                                                <select name="group[{{class.day}}-{{class.time.id}}]"
                                                    class="form-select form-select-sm text-center fs-6 mySelect2 rounded-0 border-0 js-example-basic-single">
                                                    {% for group in groups %}
                                                    
                                                    <option value="{{ group.id }}" {% if group == class.group %}selected{% endif %}>
                                                        {{ group.title }}
                                                    </option>
                                                    {% endfor %}
                                                </select>

                                                <select name="entry[{{class.day}}-{{class.time.id}}]"
                                                    class="form-select form-select-sm text-center fs-6 mySelect2 rounded-0 border-0 js-example-basic-single">
                                                    {% for entry in entries %}
                                                        <option value="{{ entry.id }}" {% if class.entry == entry %}selected{% endif %}>{{ entry.title }}</option>
                                                    {% endfor %}
                                                </select>

                                                <div class="btn-group mt-2"
                                                    dir="ltr">
                                                    <button type="button"
                                                        class="btn btn-sm btn-outline-danger"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#Modal"
                                                        data-bs-action="{% url 'main:delete_class' pk=class.id %}"
                                                        data-bs-name="{{ class.course.name }} {{ class.teacher.name }} ({{ class.time.title }})">
                                                        حذف
                                                    </button>
                                                </div>

                                            </div>
<hr>
                                            {% endif %}
                                        {% endfor %}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                    
                            </tbody>
                        </table>
                        <button type="submit"
                            class="btn btn-primary">ویرایش</button>
                        </form>

                    </div>
                    {% endif %}

                    <div class="modal fade" id="Modal" tabindex="-1"
                        aria-labelledby="ModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5 text-danger"
                                        id="ModalLabel"
                                        style="font-family: Shabnam, Vazir">
                                    </h1>
                                    <button type="button" class="btn-close ms-0"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    آیا از انجام این عملیات مطمئن هستید؟ <br>
                                </div>
                                <div class="modal-footer">
                                    <button type="button"
                                        class="btn btn-secondary"
                                        data-bs-dismiss="modal">لغو</button>
                                    <button type="button" class="btn btn-danger"
                                        data-bs-dismiss="modal"
                                        onclick="event.preventDefault();Modal.querySelector('.modal-form').submit();">حذف</button>
                                    <form class="d-none modal-form" action=""
                                        method="POST">
                                        {% csrf_token %} <input
                                            type="hidden" name="_method"
                                            value="delete"> <button
                                            type="submit"></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-bg-primary" dir="ltr">
                     
                </div>
            </div>

        </main>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            $('.js-example-basic-multiple').select2();
            $('.js-example-basic-single').select2();

            const manually_select = document.getElementById('manually-select');

            const classes = document.getElementById('classes')
            const professors = document.getElementById('professors')
            const educational_groups = document.getElementById('groups')
            const entries = document.getElementById('entries')
            const status = document.getElementById('status')

            manually_select.addEventListener("click", () => {
                classes.toggleAttribute("disabled");
                professors.toggleAttribute("disabled");
                educational_groups.toggleAttribute("disabled");
                entries.toggleAttribute("disabled");
                status.toggleAttribute("disabled");
            })
        });

        const Modal = document.getElementById('Modal')
        if (Modal) {
            Modal.addEventListener('show.bs.modal', event => {
                const button = event.relatedTarget

                const action = button.getAttribute('data-bs-action')
                const name = button.getAttribute('data-bs-name')

                const modalForm = Modal.querySelector('.modal-form')
                const modalTitle = Modal.querySelector('.modal-title')
                // const modalBody = Modal.querySelector('.modal-body')

                modalForm.action = action
                modalTitle.textContent = `حذف ${name}`
                // modalBody.textContent = name
            })
        }
        function filter_data() {
            $("td > div").show();

            if ($("#manually-select").is(':checked')) {
                let classes = $("select#classes").val();
                if (classes.length > 0) {
                    $("td > div").each(function () {
                        let flag = false;
                        for (let i = 0; i < classes.length; i++) {
                            if ($(this).children('.spanid').hasClass(`class_id-${classes[i]}`)) {
                                flag = true;
                                break;
                            }                
                        }
                        if (flag == false) {
                            $(this).hide();
                        }
                    });
                }
            } else {
                let professors = $("select#professors").val();
                if (professors.length > 0) {
                    $("td > div").each(function () {
                        let flag = false;
                        for (let i = 0; i < professors.length; i++) {
                            if ($(this).children('.spanid').hasClass(`teacher_id-${professors[i]}`)) {
                                flag = true;
                                break;
                            }                
                        }
                        if (flag == false) {
                            $(this).hide();
                        }
                    });
                }

                let groups = $("select#groups").val();
                if (groups.length > 0) {
                    $("td > div").each(function () {
                        let flag = false;
                        for (let i = 0; i < groups.length; i++) {
                            if ($(this).children('.spanid').hasClass(`group_id-${groups[i]}`)) {
                                flag = true;
                                break;
                            }                
                        }
                        if (flag == false) {
                            $(this).hide();
                        }
                    });
                }

                let entries = $("select#entries").val();
                if (entries.length > 0) {
                    $("td > div").each(function () {
                        let flag = false;
                        for (let i = 0; i < entries.length; i++) {
                            if ($(this).children('.spanid').hasClass(`entry_id-${entries[i]}`)) {
                                flag = true;
                                break;
                            }                
                        }
                        if (flag == false) {
                            $(this).hide();
                        }
                    });
                }

                let status = $("select#status").val();
                if (status.length > 0) {
                    $("td > div").each(function () {
                        let flag = false;
                        for (let i = 0; i < status.length; i++) {
                            if ($(this).children('.spanid').hasClass(`status_id-${status[i]}`)) {
                                flag = true;
                                break;
                            }                
                        }
                        if (flag == false) {
                            $(this).hide();
                        }
                    });
                }
            }
            
            $("td select").next().show();

            if (! $("#show_lesson_name").is(':checked')) {
                $("td select").each(function () {
                    if ($(this).attr("name").includes("course")) {
                        $(this).next().hide();
                    }
                });
            }

            if (! $("#show_professor_name").is(':checked')) {
                $("td select").each(function () {
                    if ($(this).attr("name").includes("teacher")) {
                        $(this).next().hide();
                    }
                });
            }

            if (! $("#show_status").is(':checked')) {
                $("td select").each(function () {
                    if ($(this).attr("name").includes("stat")) {
                        $(this).next().hide();
                    }
                });
            }

            if (! $("#show_eg_name").is(':checked')) {
                $("td select").each(function () {
                    if ($(this).attr("name").includes("group")) {
                        $(this).next().hide();
                    }
                });
            }

            if (! $("#show_entry_year").is(':checked')) {
                $("td select").each(function () {
                    if ($(this).attr("name").includes("entry")) {
                        $(this).next().hide();
                    }
                });
            }

        }
    </script>
</body>

</html>